skibidi/db.sqlite3
skibidi/env.py
skibidi/backend/migrations/**
skibidi/website/static/Anime/**
skibidi/__pycache__/**
skibidi/backend/__pycache__/**
skibidi/skibidi/__pycache__/**
skibidi/website/__pycache__/**
skibidi/website/migrations/**
skibidi/static/**
