<!--     Include UIKit CSS   -->
<link rel="stylesheet" href="/static/css/uikit.min.css">

<!--     Theme CSS   -->
<link rel="stylesheet" href="/static/css/theme.css">

                    <div id="tm-right-section" class="uk-width-large-1-2 uk-width-medium-1-2 uk-container-center"  data-uk-scrollspy="{cls:'uk-animation-fade', target:'img'}">
                            <div class="uk-container uk-container-center uk-margin-large-top">
                                <h1 class="text-center">Cosa vuoi fare?</h1>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/kind/1/">Cancella Genere</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/anime/1/">Cancella Anime</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/episode/1/">Cancella Episodio</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/role/1/">Cancella Ruolo</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/user/1/">Cancella Utente</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/favorites/kind/1/">Cancella Genere Preferito</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/favorites/anime/1/">Cancella Anime Preferito</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/kind/anime/1/">Cancella Genere Anime</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/user/rating/1/">Cancella Ranting</a>
                                </div>
                                <p></p>
                                <div>
                                    <a class="uk-button uk-button-danger uk-button-large uk-width-1-2" href="/backend/delete/watching/1/">Cancella Watching</a>
                                </div>
                                <p></p>
                           </div>
                        </div>
                    </div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/grid.min.js"></script>